@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 style="color:blue   " class="display-4"><strong>Metehan Bayrakdar</strong></h1>
    <h1 style="color:blue" class=" display-4"><strong>Kütüphane Online</strong></h1>
    <br />
    <br />
    <p><img src="/img/Libary.jpg" style="width:500px"height="300px"></p>

</div>
