@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<div class="text-center">
<h2 style="color:deepskyblue">@ViewData["Title"]</h2>


<br />



<h3><b><a href="https://www.linkedin.com/in/metehan-bayrakdar-947572247/" target="_blank">LİNKEDİN</a></b></h3>
<h3><b><a href="https://github.com/METEHANBYRKDR" target="_blank">GİTHUB</a></b></h3>
<h3><b><a href="https://www.instagram.com/mete.byrkdr/" target="_blank">İNSTAGRAM</a></b></h3>

<h3><a href="mailto:metehanbayrakdar@hotmail.com">E POSTA GÖNDER</a></h3>
</div>
